<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Macのショートカットキー" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Macのショートカットキー</p>
        <p>【<%= @texts[0] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Linuxコマンド" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Linuxコマンド</p>
        <p>【<%= @texts[0] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Slackを使用したいろんなマークダウン記法" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Slackを使用したいろんなマークダウン記法</p>
        <p>【<%= @texts[0] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Gitの基本" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Gitの基本</p>
        <p>【<%= @texts[1] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Gitで使用するテキストエディタ、Vimの使い方" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Gitで使用するテキストエディタ、Vimの使い方</p>
        <p>【<%= @texts[1] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Gitコマンド一覧" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Gitコマンド一覧</p>
        <p>【<%= @texts[1] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="入出力を行うためのメゾット一覧ー" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">入出力を行うためのメゾット一覧</p>
        <p>【<%= @texts[2] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="変数" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">変数</p>
        <p>【<%= @texts[2] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="条件分岐" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">条件分岐</p>
        <p>【<%= @texts[2] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="メソッド" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">メソッド</p>
        <p>【<%= @texts[2] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Ruby on Rails の基本" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Ruby on Rails の基本</p>
        <p>【<%= @texts[3] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Ruby on Rails の環境構築" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Ruby on Rails の環境構築</p>
        <p>【<%= @texts[3] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Ruby on Rails で Hello World!!" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Ruby on Rails で Hello World!!</p>
        <p>【<%= @texts[3] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="Ruby on Rails アプリのデプロイ" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">Ruby on Rails アプリのデプロイ</p>
        <p>【<%= @texts[3] %>】</p>
      </div>
  </div>
</div>

<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
      <div class="card-header p-0">
        <img loading="lazy" alt="CRUD処理の実装" class="img-fluid" src="/assets/no_image.jpg" >
      </div>
      <div class="card-body text-dark">
        <p>
          <object>
            <a class="btn btn-secondary btn-block">読破済みにする</a>
          </object>
        </p>
        <p class="card-text mt-3">CRUD処理の実装</p>
        <p>【<%= @texts[3] %>】</p>
      </div>
  </div>
</div>
